In [10]:
#glassdict = pd.read_csv('GlassDict.csv')
from os import listdir
from os.path import isfile, join
path = r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/Out"
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]
type(onlyfiles)

list

In [11]:
from pandas import DataFrame
list = onlyfiles
dffilename = DataFrame (onlyfiles,columns=['img'])

In [12]:
dffilename

                                              img
0      108207546@N07_identity_3@12582048654_1.jpg
1      108207546@N07_identity_3@12582120514_0.jpg
2     110433537@N03_identity_56@14042984112_0.jpg
3     110433537@N03_identity_56@14046302275_0.jpg
4     110433537@N03_identity_56@14046697684_4.jpg
...                                           ...
2506    99962592@N00_identity_43@2300941862_0.jpg
2507     99962592@N00_identity_43@809807340_0.jpg
2508     99962592@N00_identity_43@809808190_0.jpg
2509    99974871@N00_identity_11@4945552563_0.jpg
2510     99974871@N00_identity_11@953775062_2.jpg

[2511 rows x 1 columns]

In [13]:
dffilename['label']= 0

In [7]:
dffilename

                                            img  label
0      10032527@N08_identity_4@2589966003_0.jpg      1
1      10032527@N08_identity_4@2650725739_0.jpg      1
2      10032527@N08_identity_4@2897031059_1.jpg      1
3      10032527@N08_identity_4@3313522143_0.jpg      1
4      10032527@N08_identity_4@4064100657_2.jpg      1
...                                         ...    ...
5411  99962592@N00_identity_43@2300953372_0.jpg      1
5412    99962592@N00_identity_43@77329350_0.jpg      1
5413   99962592@N00_identity_43@809716488_0.jpg      1
5414   99974871@N00_identity_11@952919359_0.jpg      1
5415   99974871@N00_identity_11@953766258_1.jpg      1

[5416 rows x 2 columns]

In [9]:
dffilename.to_csv('With.csv')

In [23]:
import pandas as pd
path1 = r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/final.csv"
dffinal = pd.read_csv(path1)

In [24]:
dffinal

                                             img  label
0       10032527@N08_identity_4@2582182573_0.jpg    0.0
1       10032527@N08_identity_4@2582191559_0.jpg    0.0
2       10032527@N08_identity_4@2582274191_0.jpg    0.0
3       10032527@N08_identity_4@2583119706_0.jpg    0.0
4       10032527@N08_identity_4@2590796978_0.jpg    0.0
...                                          ...    ...
11001  99962592@N00_identity_43@2300941862_0.jpg    0.0
11002   99962592@N00_identity_43@809807340_0.jpg    0.0
11003   99962592@N00_identity_43@809808190_0.jpg    0.0
11004  99974871@N00_identity_11@4945552563_0.jpg    0.0
11005   99974871@N00_identity_11@953775062_2.jpg    0.0

[11006 rows x 2 columns]

In [26]:
LabelTrain = dffinal[dffinal['img'].isin(dffilename['file'])]

In [27]:
LabelTrain

                                           img  label
74    10157840@N03_identity_0@3909066374_1.jpg    0.0
75    10175970@N00_identity_38@239770954_1.jpg    0.0
76    10175970@N00_identity_38@334572069_0.jpg    0.0
77    10175970@N00_identity_38@334574437_1.jpg    0.0
78    10175970@N00_identity_38@334599066_0.jpg    0.0
...                                        ...    ...
9624  94343895@N00_identity_3@4243060604_1.jpg    0.0
9625   94343895@N00_identity_3@847684078_0.jpg    0.0
9626  94848610@N00_identity_6@4714006623_1.jpg    0.0
9627  94848610@N00_identity_6@4714675578_1.jpg    0.0
9628  94848610@N00_identity_6@6996039858_0.jpg    0.0

[8345 rows x 2 columns]

In [28]:
LabelTrain.to_csv('LabelTrain.csv')

In [30]:
path2 = r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/LabelTrain.csv"
tra = pd.read_csv(path2)

In [31]:
tra

      Unnamed: 0                                       img  label
0             74  10157840@N03_identity_0@3909066374_1.jpg    0.0
1             75  10175970@N00_identity_38@239770954_1.jpg    0.0
2             76  10175970@N00_identity_38@334572069_0.jpg    0.0
3             77  10175970@N00_identity_38@334574437_1.jpg    0.0
4             78  10175970@N00_identity_38@334599066_0.jpg    0.0
...          ...                                       ...    ...
8340        9624  94343895@N00_identity_3@4243060604_1.jpg    0.0
8341        9625   94343895@N00_identity_3@847684078_0.jpg    0.0
8342        9626  94848610@N00_identity_6@4714006623_1.jpg    0.0
8343        9627  94848610@N00_identity_6@4714675578_1.jpg    0.0
8344        9628  94848610@N00_identity_6@6996039858_0.jpg    0.0

[8345 rows x 3 columns]

In [70]:
#  for i in range(4):
#      print(dffilename_filter.iloc[i][0])
#      os.remove(r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/Without/validation"+ '/' + dffilename_filter.iloc[i][0])

96552496@N00_identity_1@803449023_1.jpg
96552496@N00_identity_1@803666417_1.jpg
98551956@N00_identity_1@7591679266_1.jpg
98642193@N00_identity_0@1176724019_1.jpg